%form{ :action => '/', :method => 'POST', :class => 'form-horizontal' }

  %fieldset
    %legend
      Paste a new code snippet

    .control-group
      %label{ :for => 'snippet_title' } Title:
      .controls
        %input{ :type => 'text', :name => 'snippet_title', :id => 'snippet_title' }

    .control-group
      %label{ :for => 'snippet_author' } Author:
      .controls
        %input{ :type => 'text', :name => 'snippet_author', :value => @author, :id => 'snippet_author' }

    .control-group
      %label{ :for => 'snippet_delete_at' } Delete in
      .controls
        %input{ :type => 'text', :name => 'snippet_delete_at', :id => 'snippet_delete_at' }
        %select{ :name => 'snippet_delete_at_unit', :id => 'snippet_delete_at_unit' }
          %option{ :value => 'minutes'} Minutes
          %option{ :value => 'hours'} Hours
          %option{ :value => 'days'} Days

    .control-group
      %label{ :for => 'snippet_language' } Language:
      .controls
        %select{ :name => 'snippet_language', :id => 'snippet_language' }
          / first the list of prefered languages
          - @preferred_languages.each do |preferred|
            %option{ :value => preferred} #{LANGUAGES[preferred]}
          %option ---------------------------------------------------
          - LANGUAGES.keys.sort.each do |language|
            - if not @preferred_languages.include? language
              %option{ :value => language } #{LANGUAGES[language]}

    .control-group
      %label{ :for => 'snippet_body' } Content:
      .controls
        %textarea{ :name => 'snippet_body', :id => 'snippet_body', :rows => 20, :class => 'span10' }

    .control-group
      %label{ :for => 'snippet_visibilityoptions' } Visibility
      .controls
        %label.checkbox
          %input{ :type => 'checkbox', :name => 'snippet_visibility', :value => 'private' } Don't publicly list this
        - if settings.announce_irc[:active]
          %label.checkbox
            %input{ :type => 'checkbox', :name => 'announce_irc', :value => '1' }
            & Announce in #{settings.announce_irc[:channel]}

    .form-actions        
      %input{ :type => 'submit', :value => 'Save', :id => 'new', :class => 'btn btn-primary' }
