@import "1140";

/* 960.gs text */
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px}

/* Site Colors */
/*$gray:      #ccc;*/
/*$black:     #444;*/
/*$white:     #000;*/

/* Digital Web Magazine http://www.colorschemer.com/schemes/viewscheme.php?id=41 */
$darkblue:  #206ba4;
$blue:      #54a4de;
$lightblue: #bbd9ee;
$green:     #bedf5d;
$lightgreen:#d6eb9a;
$orange:    #ff9834;
$yellow:    #f6e896;
$red:       #9B555B;
$gray:      #e7e4d3;
$lightgray: #f1efe2;
$white:     #ebf4fa;
$black:     #444;

/* Zenburn Colors */
$attribute: #dfdfbf;
$background:#3f3f3f;
$char:      #dca3a3;
$charbg:    #2c302d;
$class:     #efefaf;
$comment:   #7f9f7f;
$constant:  #dca3a3;
$debug:     #bca3a3;
$delimiter: #8f8f8f;
$escape:    #82a282;
$expr:      #c3bf9f;
$global:    #ffd7a7;
$ident:     #efdcbc;
$keyword:   #f0dfaf;
$line:      #9fafaf;
$linebg:    #262626;
$lineh:     #333333;
$linehbg:   #f18c96;
$method:    #efef8f;
$module:    #ffcfaf;
$normal:    #dcdccc;
$normalbg:  $background;
$number:    #8cd9d3;
$operator:  #f9efd0;
$punct:     #93b3a3;
$punctbg:   #3f4040;
$regex:     #c3bf9f;
$storage:   #c3bf9f;
$string:    #cc9393;
$stringbg:  #313c36;
$symbol:    #dca3a3;
$typedef:   #dfdfbf;

/* custom styles */

$monospace: "Bitstream Vera Sans Mono", "Monaco", "Consolas", "Courier New", "monospace";

body {
    background-color: $lightgray;
}

a,
a:visited {
    color: $darkblue;
    text-decoration: none;
}

a:active,
a:hover {
    color: $blue;
}

form {
    .left {
        float: left;
        padding-right: 50px;
    }
 
    label {
        display: block;
    }

    input,
    textarea,
    select {
        border: 1px solid;
        background-color: $gray;
        -webkit-box-shadow: $lightgray 0px 0px 4px;
        font-family: $monospace;
        padding: 2px;
        color: $black;
    }

    input#new[type="text"] {
        width: 250px;
    }

    input#snippet_delete_at {
        width: 50px;
    }

    input#new[type="submit"] {
        width: 200px;
        margin-top: 15px;
    }

    select {
        width: 256px;
        height: 24px;
        margin-top: 2px;
        padding-top: 1px;
    }

    select#snippet_delete_at_unit {
        width: 196px;
    }

    textarea {
        width: 556px;
    }
}

#error {
    background-color: $red;
    color: $white;
    text-align: center;
    padding: 5px;
}

#meta {
    text-align: right;
}

#info {
    background: $background;
    color: $normal;
    padding: 10px;
    height: 25px;
}

#switch-theme {
    display: inline;
    margin: 0;
    padding: 0;
    float: right;
}

#switch-theme select,
input {
    width: auto;
}

#github img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 10px;
    font-family: $monospace;
}
