@import "../vendor/bootstrap-sass/vendor/assets/stylesheets/_bootstrap.scss";

body {
    padding-top: 40px;
}

.right {
    text-align: right;
    padding-bottom: 10px;
}

.dropdown.open .dropdown-menu {
    overflow: hidden;
}
